#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.latest-image {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1pt solid rgb(51, 255, 0);
  padding: 10px;
  
}

.preview-image-container {
  display: flex;
  justify-content: center;
}

.preview-image {
  width: 300px;
  height:500px;
  object-fit: contain;
  overflow: hidden;
}
